
<div class="auth-page">
    <div class="auth-container">
        <button class="back-button" (click)="goBack()">✕</button>
        <h2 class="auth-title">Welcome login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" />
            @if (email.touched && email.hasError('required')) {
                <small class="error-message">Email is required</small>
            }
            @if (email.touched && email.hasError('email')) {
                <small class="error-message">Invalid email format e.g. example@domain.com</small>
            }
            <label for="password">Password</label>
            <div style="position: relative;">
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" />
                <button type="button" (click)="togglePassword()" class="toggle-password">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        @if (showPassword) {
                            <path d="M17.94 17.94A10.07 10.07 0 0112 20c-7 0-11-8-11-8a18.45 18.45 0 015.06-5.94M9.9 4.24A9.12 9.12 0 0112 4c7 0 11 8 11 8a18.5 18.5 0 01-2.16 3.19M1 1l22 22"/>
                        } @else {
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8"/><circle cx="12" cy="12" r="3"/>
                        }
                    </svg>
                </button>
            </div>
            @if (password.touched && password.hasError('required')) {
                <small class="error-message">Password is required</small>
            }
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
        <p class="auth-link">
            Don't have an account?
            <button class="auth-link-button" (click)="goToRegister()">
                Sign Up
            </button>
        </p>
    </div>
</div>