<div class="auth-page">
    <div class="auth-container">
        <button class="back-button" (click)="goBack()">✕</button>
        <h2 class="auth-title">Create Your Account</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" />
            @if (name.touched && name.hasError('required')) {
            <small class="error-message">Name is required</small>   
            }
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" />
            @if (email.touched && email.hasError('required')) {
                <small class="error-message">Email is required</small>
            }
            @if (email.touched && email.hasError('email')) {
                <small class="error-message">Invalid email format e.g. example@domain.com</small>
            }
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
            @if (password.touched && password.hasError('required')) {
                <small class="error-message">Password is required</small>
            }
            @if (password.touched && password.hasError('minlength')) {
                <small class="error-message">Password must be at least 6 characters long</small>
            }
            @if (password.touched && password.hasError('pattern')) {
                <small class="error-message">Password must contain at least one letter and one number</small>
            }
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="repeatPassword" />
            @if (registerForm.hasError('passwordsMismatch') && repeatPassword.touched && repeatPassword.value) {
            <small class="error-message">Passwords do not match</small>
            }
            <button type="submit" [disabled]="registerForm.invalid">Register</button>
        </form>
        <p class="auth-link">
            Already have an account?
            <button class="auth-link-button" (click)="goToLogin()">
                Sign In
            </button>
        </p>
    </div>
</div>      